@import url(reset.css);

@font-face {
    font-family: "Gotic";
    src: url("fonts/leaguegothic-regular-webfont.woff") format("woff");
}

:root {
    font-family: 'Gotic', arial;
}

.header {
    position: relative;
    background-image: url(img/bg.png);
    background-position-y: -500px;
}

.overlayTop{
    height: 250px;
    background-color: white;
    position: absolute;
    opacity: 0.3;
    top: 0;
}

.overlayBottom{
    height: 120px;
    background-color: white;
    position: absolute;
    opacity: 0.2;
    bottom: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    flex-flow: wrap;
}

.logo-menu {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

header .logo {
    width: 174px;
    float: left;
}

.whiteLetter {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Gotic";
    font-size: 48px;
    font-weight: 400;
    line-height: 33.72px;
    text-transform: uppercase;
}

.purpleLetter {
    /* background: linear-gradient(to top, #322539 0%, #745083 100%); */
    background-clip: text;
    color: #745083;
    font-family: "Gotic";
    font-size: 48px;
    font-weight: 400;
    line-height: 33.72px;
    text-transform: uppercase;
}

.menu {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: "Gotic";
    font-size: 18px;
}

header .menu {
    width: 65%;
    height: 18px;
    display: flex;
    margin: 10px auto;
}

header .menu {
    justify-content: space-around;
}

header .menu {
    flex-wrap: wrap;
}

header .menu a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

header .menu a:hover {
    text-decoration: underline;
    text-decoration-color: #edbfff;
}

.textImg {
    margin: 140px auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.loremText {
    width: 400px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 50px;
}

.loremIpsu {
    color: #fefefe;
    font-family: "Gotic";
    font-size: 60px;
    font-weight: 400;
    line-height: 50px;
}

.itWillMake {
    color: #edbfff;
    font-family: "Gotic";
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}

.semperSollicitudin {
    font-family: "Open Sans Light";
    font-weight: 300;
    line-height: 30px;
}

.imgPhone {
    margin-left: 200px;
    width: 300px;
    position: relative;
}

.iPhoneCopy {
    width: 130px;
    height: 268px;
    left: -80px;
    top: 90px;
    position: absolute;
    z-index: 0;
}

.iPhone {
    width: 197px;
    height: 434px;
    position: absolute;
    z-index: 1;
}

.Shape {
    height: 70px;
    background-color: #ffffff;
    position: absolute;
    top: 160px;
    left: 60px;
    z-index: 2;
}

.ShapePurple {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    position: absolute;
    top: 170px;
    left: 70px;
    z-index: 3;
}

.Ellipse {
    width: 22px;
    height: 25px;
    top: 183px;
    left: 87px;
    position: absolute;
    z-index: 4;
}

.navigationPhone {
    margin: auto;
    width: 100px;
    height: 17px;
    margin-bottom: 10px;
    position: relative;
    left: 250px;
    bottom: 50px;
}

.sectionTop {
    height: 342px;
    background-image: linear-gradient(to top, #322539 0%, #745083 100%);
}

.leftText {
   width: 32%;
    height: 190px;
    margin-top: 80px;
    margin-right: 10px;
    position: relative;
}

.centerText {
    width: 32%;
    height: 190px;
    margin-top: 80px;
    margin-right: 10px;
    position: relative;
}

.rightText {
    width: 32%;
    height: 190px;
    margin-top: 80px;
    margin-right: 10px;
    position: relative;
}

.textIcon::before {
    content: '';
    background-image: url(img/source_of_icons.png);
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    left: -50px;
    top: -5px;    
}

.leftText::before {
    background-position-x: 110px;
    background-position-y: 410px;
}

.centerText::before {
    background-position-x: 190px;
    background-position-y: 280px;
}


.rightText::before {
    background-position-x: -490px;
    background-position-y: -5px;
}

.aboutOurCompany {
    text-shadow: 1px 1px 0 #0f1518;
    color: #ffffff;
    font-family: "Gotic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 30px;
}

.nunc {
    width: 223px;
    text-shadow: 1px 1px 0 #0f1518;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    overflow: hidden;
}

.button {
    margin-top: 20px;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    margin-left: 190px;
    font-size: 18px;
    font-family: "Gotic";
}

.button:hover {
    text-shadow: white 3px 0 15px;
}

.sectionCenter {
    height: 512px;
    background-color: #f9f9f9;
}

.testimonial {
    width: 451px;
    margin-top: 60px;
    position: relative;
}

.textIconSectionCenter::before {
    content: '';
    background-image: url(img/source_of_icons.png);
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: -10px;
}

.testimonial::before{
    background-position-x: -520px;
    background-position-y: -500px;
}

.cloud {
    width: 427px;
    height: 292px;
    background-image: url(img/Layer_60.png);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}

.nuncTurpis {
    width: 420px;
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    overflow: hidden;
}

.pingbulLer {
    padding: 20px 50px;
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-family: "Gotic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.startsHere {
    color: #edbfff;
}

.fromTheBlog {
    margin-top: 60px;
    margin-left: 20px;
    width: 480px;
    position: relative;
}

.navigation {
    margin: auto;
    width: 100px;
    height: 17px;
    margin-bottom: 10px;
}

input[type="radio"] {
    transform: scale(1.5);
}


.recentUPD{
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-family: "Gotic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.nuncText{
    padding-left: 60px;
    margin-top: 20px;
}

.nuncTextTop::before{
    background-position-x: -215px;
    background-position-y: 235px;
}

.nuncTextCenter::before{
    background-position-x: -145px;
    background-position-y: 175px;
}

.nuncTextBottom::before{
    background-position-x: -75px;
    background-position-y: 115px;
}

.bolt{
    font-weight: 1000;
}

.readMore{
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-family: "Gotic";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    margin-top: 20px;
    margin-left: 190px;
}

.hr {
    height: 1px;
}

.trus {
    width: 960px;
    height: 122px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logos{
    height: 64px;
    width: 69px;
    background-image: url(img/logos.png);
    background-repeat: no-repeat;
}

.two{
    background-position-x: -135px;
}

.three{
    background-position-x: -268px;
}

.four{
    background-position-x: -400px;
}

.five{
    height: 64px;
    width: 119px;
    background-image: url(img/logos.png);
    background-repeat: no-repeat;
    background-position-x: -520px;
    margin-left: 10px;
}
.six{
    background-position-x: -697px;
}

.sectionBottom{
    background-color: #ececec;
    height: 350px;
    
}
.textSectionBottom{
    color: #464646;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.leftTextSectionBottom {
     width: 32%;
     height: 190px;
     margin-top: 80px;
     margin-right: 10px;
 }
 
 .centerTextSectionBottom {
     width: 32%;
     height: 190px;
     margin-top: 80px;
     margin-right: 10px;
 }
 
 .rightTextSectionBottom {
     width: 32%;
     height: 190px;
     margin-top: 80px;
     margin-right: 10px;
 }

 .nuncSectionBottom {
    color: #bdbdbd;
    font-family: "Open Sans";
    line-height: 24px;
}

.textBig{
    font-size: 45px;
}

.er{
    color: #bdbdbd;
}

.copyright{
    font-family: "Cursive";
    font-size: 14px;
    color: #bdbdbd;
    margin: 15px 0px;
}

.footer{
    height: 170px;
    background-image: url(img/bg.png);
    background-position-y: 170px;
}

footer .menuFooter{
    width: 60%;
    margin: 63px 40px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: "Gotic";
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li{
    justify-content: space-around;
    font-size: 25px;
} 

.designed{
    width: 30%;
    margin-top: 60px;
    color: #feffff;
    text-align: end;
    font-size: 20px;
    font-family: "Open Sans";
}

.as{
    font-weight: 700;
}

@media screen and (max-width: 2400px){
    .container{
        width: 960px;
    }
}
@media screen and (max-width: 980px){
    .container{
        width: 768px;
    }
    header .logo {
        width: 290px;
        margin-bottom: 29px;
    }
    header .menu{
        margin-left: 50px;
    }
    .imgPhone {
        margin-left: 160px;
        width: 300px;
        position: relative;
    }
    .textImg {
        margin: 90px auto;
    }
    .navigationPhone {
        left: 190px;
    }
    .loremText {
        width: 40%;
        margin: 30px auto;
    }
    .nunc {
        width: 170px;
    }
    .testimonial {
        width: 380px;
    }
    .nuncTurpis {
        width: 320px;
    }
    .fromTheBlog {
        width: 290px;
        margin: 60px auto;
    }
    .button{
        margin-left: 150px;
    }
    .cloud {
        width: 340px;
        height: 260px;
    }
    .sectionCenter{
        height: 600px;
    }
    footer .menuFooter {
        width: 100%;
        margin: 30px auto;
    }
    .designed {
        width: 100%;
        margin-top: 10px;
    }  
}
@media screen and (max-width: 820px){
    .container{
        width: 480px;
    }
    .semperSollicitudin {
        display: none;
    }
    .header {
        height: 700px;
    }
    header .menu {
        width: 60px;
        height: 25px;
        overflow: hidden;
        position: relative;
        left: -170px;
        top: 50px;
    }
    header .menu:hover {
        width: 250px;
        height: 300px;
        background-color: #5a044f;
        opacity: 0.7;
        color: white;
        border: 1px solid black;
        border-radius: 6%;
        text-decoration: underline;
        text-decoration-color: #edbfff;
        position: absolute;
        top: 100px;
        left: 950px;
    }
    header .menu li{
        width: 125px;
    }
    header .menu li:hover {
        width: 250px;
        background-color: #322539;
        border: 1px solid black;
        border-radius: 10%;
        border-bottom: 2px solid #edbfff;
    }
    .imgPhone{
        margin-left: 80px;
        width: 200px;
    }
    .navigationPhone {
        left: 160px;
        top: 40px;
    }
    .sectionTop{
        height: 550px;
    }
    .leftText {
        width: 480px;
        height: 110px;
        margin: 50px auto;    
    }
    .centerText {
        width: 480px;
        height: 110px;
        margin: auto;    
    }
    .rightText{
        width: 480px;
        height: 110px;
        margin: 50px auto;    
    }
    .nunc {
        width: 480px;
    }
    .nuncTurpis {
        width: 400px;
    }
    .cloud{
        width: 400px;
    }
    .navigation {
        margin-left: 130px;
    }
    .fromTheBlog {
        width: 450px;
    }
    .button {
        margin-left: 330px;
     } 
     .sectionCenter{
         height: 1000px;
     }
     .sectionBottom{
         height: 680px;
     }
     .leftTextSectionBottom {
        width: 100%;
        height: 120px;
     }
     .centerTextSectionBottom {
        width: 100%;
        height: 120px;
     }
     .rightTextSectionBottom {
        width: 100%;
        height: 120px;
     }
     .logos{
        margin: 20px 40px;
     }
     .designed {
        margin: auto;
        text-align: center;
     }
}

@media screen and (max-width: 520px){
    .container{
        width: 320px;
    }
    .overlayTop{
        display: none;
    }
    .overlayBottom{
        display: none;
    }
    .header{
        height: 450px;
    }
    .loremText {
        width: 320px;
    }
    .textImg {
        margin: auto;
    }
    .imgPhone{
        display: none;
    }
    .navigationPhone{
        left: -30px;
    }
    .sectionTop{
        height: 530px;
    }
    .leftText {
        width: 320px;
        height: 110px;
        margin: 30px auto;
    }
    .centerText {
        width: 320px;
        height: 110px;
        margin: 30px auto;
    }
    .rightText {
        width: 320px;
        height: 110px;
        margin: 30px auto;
    }
    .nunc{
        max-width: 320px;
        max-height: 70px;
    }
    .fromTheBlog {
        margin-top: 30px;
        width: 320px;
    }
    .button{
        margin-left: 200px;
    }
    .centerText{
        margin: 20px auto;
    }
    .sectionCenter{
        height: 1050px;
    }
    .sectionBottom{
        display: none;
    }
    footer .menuFooter{
        display: none;
    }
    .designed{
        margin-top: 30px;
    }
}