.card {
    width: 500px;
    margin: 0 auto;
}
.formLeft{
    width: 500px;
    margin-left: 30px;
}
.formControl{
    width: 150px !important;
    border: 1px solid green !important;
    color: green !important;
}
.form{
    display: flex;
    justify-content: space-around;
}
td, th {
    padding: 3px; 
}
th {
    text-align: left;
    border-top: 1px solid rgb(48, 47, 47); 
    border-bottom: 1px solid rgb(48, 47, 47);
    padding: 25px; 
}

