.text{
    float: left;
}

.background{
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    width: 306px;
    height: 306px;
    flex-wrap: wrap;
}

.size{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.white{
    background-color: white;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.gray{
    background-color: gray;
}

.pink{
    background-color: pink;
}

.purple{
    background-color: purple;
}

.foto{
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    width: 306px;
    height: 306px;
    flex-wrap: wrap;
}

.nature{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
